header {
    input[type='text'] {
        width: 100%;
        color: #fff;
        background-color: transparent;
        border-bottom: solid 1px $main-color-dark;
        padding: 0.6rem;
        font-family: $main-font;
        font-weight: bold;
        font-size: 3rem;
        @media (max-width: $screen-size-xs) {
            font-size: 1.6rem;            
        }
    }
    p {
        color: $main-color-light;
        font-size: 16px;
        padding-left: 0.6rem;
        margin: 0;
        @media (max-width: $screen-size-xs) {
            font-size: 12px;            
        }
    }
}