main {
    .albuns-recentes {
        p {
            margin-top: 6%;
            margin-bottom: 3%;
        }
        .albuns {
            &:first-of-type {
                margin-left: 0
            }
            display: inline-block;
            width: 15%;
            margin: 0 2%;
            text-align: center;
            img {
                width: 100%
            }
            p {
                &:first-of-type {
                    color: $main-color-light
                }
                font-size: 14px;
                color: $main-color-dark;
                margin-top: 2%;
                margin-bottom: 0
            }
        }
    }
}