@import 'variables';

body {
    background-color: $main-color-bg;
    font-family: $main-font;
    color: $main-color-light;
}

.container {
    width: 80%;
    margin: auto;
    padding: 1.25rem;
}

main {
    color: $main-color-light;
}

input {
    border: none;
    outline: none;
}

img {
    width: 4%;
    margin: 2% 2% auto;
    @media (max-width: $screen-size-xs) {
        width: 13%;          
    }
}